/*
** Styling the material theme and adding few custom values to components.
*/
$font-family-sans-serif: "Lato", sans-serif !default;

/*
** Assigning a 'Lato' font-family to body and resetting the body-margin.
*/
html, body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

/*
** Removing the default outline from the following components.
*/
a, a:focus,
button, button:focus,
.mat-menu-item, .mat-menu-item:focus{
  outline: 0 !important;
}

/*
** Adding a pre-defined border-radius to all button components.
*/
button {
  border-radius: $border-radius;
}