@import '~@angular/material/theming';


// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin search-form-theme($theme) {
	// Extract the palettes you need from the theme definition.
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	
	// Define any styles affected by the theme.
	.search-form {
		// Use mat-color to extract individual colors a palette.
		background-color: mat-color($primary);
		border-color: mat-color($accent, A400);
	}
}