<div class="container">
  
      <div class="col arrange" style="background-color:lavender; width: 33.3%; display: inline-block" *ngFor="let user of users"> 
          <img class="img-responsive img-thumbnail" [src]="user.imgPath" />  
          <p><label>User Name: </label> {{user.username}} </p>
          <p><label>User Address: </label> {{user.address}} </p>
          <p><label>User Email: </label> {{user.email}} </p>
          
      </div>
    
</div>