<form [formGroup]="checkBoxForm"> 
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Select items </h2>
      <section class="example-section"  formArrayName="checkBoxOptions" *ngFor="let item of items; index as i">
        <mat-checkbox  (change)="selectOption($event,item)" class="example-margin" [formControlName]="i" >{{item.itemType}}</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>
 </form>

 <mat-card class="example-card" *ngFor="let desc of arrEachCategory">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{desc.brandname}}</mat-card-title>
    <mat-card-subtitle>{{desc.material}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p [appHighlight]="'yellow'" >
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>