<!--<div class="pagination__container pagination__bottom-fixed">
    <div class="row">
        
      <div class="col">
  
        <div class="pagination__contents pagination__contents__center-aligned">
  
          <div class="pagination__label__inlined">
            <p class="pagination__label pagination__label__margins">Items
              <span [translate]="'application.app.ALERTS_LABELS.PAGINATION.PER_PAGE'"> per page:</span>
            </p>
            <mat-form-field class="pagination__display-count">
              <mat-select [(value)]="limit">
                <mat-option *ngFor="let page of perPageOption"
                            [value]="page"
                            (click)="changePageLimit(page)">{{page}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <button mat-raised-button
                  class="pagination__button"
                  color="accent"
                  (click)="firstPage()"
                  [disabled]="start == 1">
            <mat-icon>first_page</mat-icon>
            <span class="pr-1" [translate]="'application.app.ALERTS_LABELS.PAGINATION.FIRST'"> First</span>
          </button>
  
          <button mat-raised-button
                  class="pagination__button m-0"
                  color="accent"
                  (click)="previousPage()"
                  [disabled]="start == 1">
            <mat-icon>chevron_left</mat-icon>
            <span class="pr-2" [translate]="'application.app.ALERTS_LABELS.PAGINATION.PREVIOUS'"> Previous</span></button>
  
          <div class="mx-5">
            <span class="mr-3" [translate]="'application.app.ALERTS_LABELS.PAGINATION.PAGE'">Page</span>
            <mat-form-field class="pagination__display-count text-center">
              <input matInput [(ngModel)]="currentPage"
                 (blur)="goToAnyPage($event, currentPage)"
                     (keydown)="goToAnyPage($event, currentPage)"></mat-form-field>
              <span [translate]="'application.app.ALERTS_LABELS.PAGINATION.OF'">of</span> {{totalPage}}
          </div>
  
          <button mat-raised-button
                  class="pagination__button"
                  color="accent"
                  (click)="nextPage()"
                  [disabled]="start+limit>totalRecord">
            <span class="pl-1" [translate]="'application.app.ALERTS_LABELS.PAGINATION.NEXT'">Next </span>
            <mat-icon>chevron_right</mat-icon>
          </button>
  
          <button mat-raised-button
                  class="pagination__button"
                  color="accent"
                  (click)="lastPage()"
                  [disabled]="start+limit>totalRecord">
            <span class="pl-1" [translate]="'application.app.ALERTS_LABELS.PAGINATION.LAST'">Last </span>
            <mat-icon>last_page</mat-icon>
          </button>
        </div>
  
      </div>
    </div>
  </div>
-->
<div class='pagination_container'>
  <span>Items Per Page: </span>
  <mat-form-field class="field1">
    <mat-select (selectionChange) = "selectValue($event)" [formControl]="rowPerPage" name="selectRange">
     <mat-option *ngFor="let arrRng of arrRange" [value]="arrRng">
        {{arrRng}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="example-button-row">
      <button mat-raised-button color="accent" (click)="goToFirstPage()"><i class="material-icons">first_page</i> First</button>
      <button mat-raised-button color="accent" (click)="goToPreviousPage()"><i class="material-icons">chevron_left</i> Previous</button>
  </div>
  <span>Page</span>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="" [formControl]="rowRangePerPage">
  </mat-form-field>
  <span>Of</span>
  <div class="example-button-row example-button-row2">
      <button mat-raised-button color="accent" (click)="goToNextPage()">Next <i class="material-icons">chevron_right</i></button>
      <button mat-raised-button color="accent" (click)="goToLastPage()">Last <i class="material-icons">last_page</i></button>
  </div>
</div>
  