@import "~bootstrap/scss/bootstrap";
@import "../../styles/styles";
/*
.pagination {
  &__container {
    @include make-container();
    background-color: $white;
    border: 1px solid $light-gray;
    height: 65px;
    z-index: 990;
  }
  
  &__bottom-fixed {
    @extend .fixed-bottom;
  }
  
  &__contents {
    @extend .d-flex;
    
    &__center-aligned {
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
  
  &__button {
    line-height: 2.5;
    border-radius: $border-radius;
    margin-right: 1rem;
  }
  
  &__label {
    line-height: 3.5;
  
    &__margins {
      @extend .m-0;
      @extend .mr-3;
    }
    
    &__inlined {
      @extend .d-inline-flex;
    }
  }
  
  &__display-count {
    width: 60px;
    @extend .mr-3;
  }
}*/
.pagination_container{width: 974px; margin: 0 auto;}
.pagination_container mat-form-field{width: 80px;}
.pagination_container .example-button-row{width: 320px; display: inline-block;}
.pagination_container .example-button-row2{width: 270px;}
.pagination_container .mat-raised-button[_ngcontent-c3]{font-size: 25px; margin-left: 10px;}
.pagination_container .material-icons{font-size: 40px;}
.pagination_container .example-full-width{width: 80px;}