<h3>Country Detail </h3>
<div *ngIf="country">
<p><b>Id:</b> {{country.countryId}},  
<b>Name:</b> {{country.countryName}} </p>
<p><b>Capital:</b> {{country.capital}},
<b>Currency:</b> {{country.currency}}</p>
    <nav [ngClass] = "'child-menu'">
    <ul>
      <li><a [routerLink]="['state']" routerLinkActive="active"> Country state</a></li>
      <li><a [routerLink]="['religion']" routerLinkActive="active">Country Religion</a></li>
    </ul>  
  </nav>  

  <div >
	<router-outlet></router-outlet>  
</div> 


</div>