<div>
  <p>MCQ quiz:</p>
  <p>{{quiz.type}</p>
 
</div>


<form [formGroup]="mcqForm">
    
  <h1>{{options}}</h1>
  <span *ngIf="showAns">{{isCorrect}}</span>

  <label formArrayName="options" *ngFor="let option of filteredquestions[0].options; index as i">
     <input type="checkbox" [formControlName]="i" (change)="onSelect(filteredquestions[0].options);" />
      {{option.name}}
    </label>
    <button [disabled]="!isAnswered(filteredquestions[0].options)" (click)="submitAns()">submit</button>
  </form>

  <!--multile formControl inside multile formGroup start here-->
  <div class="multipleControlInsideFormGroup" *ngIf="mode=='result'">
    <h2>Quiz Result</h2>
    <form [formGroup]="multipleControlInsideFormGroup">
          <div formArrayName="cities" *ngFor="let city of multipleControlInsideFormGroup.controls.cities.controls; let i=index" >
            <p>dfdfdf dfdfd fddf {{city.controls.name.value}}</p>
               <div  *ngFor="let sisterCity of city.controls.sisterCities.controls; let j = index">
                  <p>{{sisterCity.value+j}}</p>
               </div>
          </div>
        <input  placeholder="Enter user id" autocomplete='id'  formControlName="user_id" required>
    </form>
    <h4 class="alert alert-info text-sm-center">You may close this window now.</h4>
  </div>
<!--multile formControl inside multile formGroup end here-->

<!--multile formGrop inside formArray of multile formGroup start here-->
<div class="result" *ngIf="mode=='result'">
  <h2>Quiz Result</h2>
  <form [formGroup]="resForm">
        <div formArrayName="questions" *ngFor="let question of resForm.controls.questions.controls; let i=index" >
         <div [formGroupName]="i">
              <p>dfdfdf dfdfd fddf {{question.controls.questionName.value}}</p>
              <label formArrayName="quesOptions" *ngFor="let option of question.controls.quesOptions.controls; let j = index">
                <input type="checkbox" [formControlName]="j" />
                 {{option.value.name}}
               </label>
          </div>
        </div>
  </form>
  <h4 class="alert alert-info text-sm-center">You may close this window now.</h4>
</div>
<!--multile formGrop inside formArray of multile formGroup end here-->


  <button (click)="goTo(0);">First</button>
  <button (click)="goTo(pager.index-1);">Previous</button>
  <button (click)="goTo(pager.index+1);">Next</button>
  <button (click)="goTo(pager.count-1)">Last</button>
  <button (click)="checkAnswer();">Check Answer</button>
