
.correct{    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../../assets/correctIncorrect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.incorrect{    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../../assets/correctIncorrect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -30px;
}

.secSpan{margin-left: 33px;}



@mixin themable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg) {
    .#{$theme-name} {
        .container {
            background-color: $container-bg;
            border: 1px solid #000;
            display: flex;
            height: 500px;
            justify-content: space-between;
            margin: 0 auto;
            padding: 1em;
            width: 50%;
 
            * {
                color: $innertext;
                font-size: 2rem;
            }
 
            .left {
                background-color: $left-bg;
                height: 100%;
                width: 69%;
            }
 
            .right {
                background-color: $right-bg;
                height: 100%;
                position: relative;
                width: 29%;
            }
 
            .button {
                background-color: $button-bg;
                border: 0;
                border-radius: 10px;
                bottom: 10px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                padding: 1em 2em;
                position: absolute;
                right: 10px;
            }
        }
    }
 }

 @include themable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49);