
<form [formGroup]="mcqForm"> 
  <h1>{{options}}</h1>
  <span *ngIf="showAns" [className]="isCorrect ? 'correct' : 'incorrect'"></span>
  <label formArrayName="options" *ngFor="let option of filteredquestions[0].optCtrls; index as i">
     <input type="checkbox" [formControlName]="i" (change)="onSelectOpt(filteredquestions[0].optCtrls);" />
      {{filteredquestions[0].optLabels[i]}}
    </label>
    <button [disabled]="!isAnswered(filteredquestions[0].optCtrls)" (click)="submitAns()">submit</button>
  </form>

  <button (click)="goTo(0);">First</button>
  <button (click)="goTo(pager.index-1);">Previous</button>
  <button (click)="goTo(pager.index+1);">Next</button>
  <button (click)="goTo(pager.count-1)">Last</button>
  <button (click)="showsAnswer();">show Answer</button>


<!--multile formGrop inside formArray of multile formGroup start here-->
<div class="result" *ngIf="result">
  <h2>Quiz Result</h2>
  <form [formGroup]="quesForm">
        <div formArrayName="questions" *ngFor="let question of questions.controls; let i=index" >
         <div [formGroupName]="i">
              <p><span *ngIf="showAns" [className]="arrRes[i] ? 'correct' : 'incorrect'"></span><span class="secSpan"> {{question.controls.questionName.value}}</span></p>
              <label formArrayName="quesOptions" *ngFor="let option of question.controls.quesOptions.controls; let j = index">
                <input type="checkbox" [formControlName]="j" (change)="onSelect(question,i);"/>
                 {{data.questions[i].optLabels[j]}}
               </label>
          </div>
        </div>
        
  </form>
  <div>{{quesForm.value | json}}</div>
  <!--multile formGrop inside formArray of multile formGroup end here-->

<!-- angular material testing starts here -->
  <mat-checkbox>Check me!</mat-checkbox>
  <button mat-button>Click me!</button>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p>{{events}}</p>
  <mat-icon>home</mat-icon>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

</div><!-- angular material testing starts here -->

<!-- SCSS files are testing starts here -->
  <div class="theme-1">
    <div class="container">
        <div class="left">
            Left
        </div>
        <div class="right">
            Right
            <button class="button">Button</button>
        </div>
    </div>
  </div>
<!-- SCSS files are testing starts here -->
  