 <div class="container">
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required"> Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <button class="btn btn-primary">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  

<app-child (valueChange)='displayCounter($event)'></app-child>
<other-app-child [myCounter]="counter"></other-app-child>
<p>counter: {{counter}}</p>
<div id ="content">
    <h2>awesome font example </h2>
</div>
</div>


<!-- main app container -->

 