<div id="cnt">
  <p>Two Way Data Binding:</p>
  <fieldset>
  <p>parent component:</p>
  <button (click)="increaseCnt()">increase counter</button>
  <p>{{counter}}</p>
</fieldset>
<fieldset>
  <p>Child component:</p>
  <!--<app-child-incr-decr (counterChange)="decrreaseCounter($event)" [counter]='counter'></app-child-incr-decr> method 1-->
  <!--<app-child-incr-decr (counterChange)="counter=$event" [counter]='counter'></app-child-incr-decr> method 2-->
  <app-child-incr-decr [(counter)]='counter'></app-child-incr-decr><!-- method 3-->

  <input id="pp" #tt [(ngModel)]="username">
  <input id="mytext" />
  <p>Hello {{username}}!</p>
</fieldset>
</div>
