<div>
  view-child-view-children-template-refrence-variable works!<br/>
  <label>First Name: <input value="raj" #fName type="text"></label>
  <label>Last Name: <input  #lName type="text"></label>
  <div>Full Name: {{fullName}}</div>
  <button (click)='showFullname(fName,lName)'>show Full Name</button>


<app-childcom-for-view-child></app-childcom-for-view-child>

</div>
