
<mat-form-field>
  <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value ? toppings.value[0] : ''}}
      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
      <span>{{toppings.value}}</span>
    </mat-select-trigger>
    <mat-option [value]="all" #allS (click)="selectOption(true)" >Select all</mat-option>
    <mat-option *ngFor="let topping of toppingList" [ngClass]="topping.active ? 'class' : 'otherClass' " [value]="'selected'" (click)="selectOption(false)">{{topping.name}}</mat-option>
  </mat-select>
</mat-form-field>
<p>you selected: {{selected+ toppingList}}</p>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->